# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#other
#Gladiatorcheatz v2.vcxproj
#Gladiatorcheatz v2.vcxproj.user
*.opendb
*.db
*.vs
.vs
*.sdf
*.suo
.vs/Gladiatorcheatz v2/v15/ipch/
Debug/
Release/